streamlit-option-menu
plotly
bs4
pandas==1.4.2
numpy==1.24.0
matplotlib
pytz
pyxlsb 
xlsxwriter
streamlit-lottie
streamlit-aggrid
flask_babel
requests
pypdf2==2.8.0
openpyxl
seaborn
gspread==5.9.0
oauth2client
gspread_pandas
pdfplumber


